.record {
    margin-bottom: 20px;
    margin-top: 5px;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: #bab6fc;
}

.record div div {
    border-bottom: solid 1px #949494;
    background: #efeeff;
    font: 16px "momotyped";
    padding-top: 3px;
}

.record div:hover div {
    background: #dedded;
}

.record div div:first-child {
    background: #bab6fc;
    font: 16px "Arial";
}

.record div:hover div:first-child {
    background: #aba7e8;
}

.record .entry div {
    border-bottom: none;
    background: #efeeff;
    padding-top: 10px;
    font: 16px "Arial";
}

.record .entry div:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
}

